{if $title}<a class="brand" href="{plink $title->link}">{$title->label}</a>{/if}

{if isset($custom) and $custom == true}
	{control navbar:custom}
{else}
	{control navbar}
{/if}

{if $displayUserbar}{control userbar}{/if}