<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> {$userName}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
		{if count($menuItems)}
			{foreach $menuItems as $menuItem}
				<li>
					<a href="{$menuItem->link}">
						{if $menuItem->icon}<i class="{$menuItem->icon}"></i>{/if} {$menuItem->label}
					</a>
				</li>
			{/foreach}
		{/if}
        <li class="divider"></li>
        <li><a href="{plink logout!}"><i class="icon-off"></i> Logout</a></li>
    </ul>
</div>